@charset "utf-8";

* {margin:0; padding:0;}
body, html{
    width:100%; 
    min-width:1280px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
}
ul {
    list-style:none;
}
a {
    text-decoration:none;
    user-select:none;
}
.hd_top {
    width:100%;
    height:50px;
}
.top_pop {
    display:block;
    background-color: #333;
    font-size:20px;
    text-align:center;
    line-height:50px;
    color:white;
}
.hd_bottom {
    width:100%;
    height:80px;
    position:relative;
}
.logo {
    display:block;
    position:absolute;
    margin: 45px 0px 10px 50px;
}
.tnb {
    position:relative;
    float:right;
}
.main_menu {
    margin-top:30px;
}
.tnb li {
    float:left;
    margin-right:20px;
    padding-bottom:20px;
}
.tnb li a {
    color:#333;
    font-size:13px;
}
.tnb li a:hover{
    color:red;
}
.gnb {
    clear:both;
    position:relative;
    width:550px;
    margin:0 auto;
}
.gnb li {
    float:left;
    margin-bottom:20px;
}
.gnb li a {
    color:#333;
    margin:0 20px;
}
.gnb li a:hover {
    color:green;
}








.ft {
    clear:both;
    border-top: 1px solid #dcb;
}
.ft_top_wrap {
    width:1280px;
    margin:0 auto;
}
.ft_bottom_wrap {
    width:1280px;
    margin:0 auto;
}
.ft_wrap {
    margin:0 auto;
    clear:both;
    margin-top:20px;
}
.logo2 {
    clear:both;
    float:left;
}
.fnb {
    float:right;
}
.fnb li {
    float:left;
    margin-right:20px;
}
.fnb li a {
    color:#333;
    font-size:13px;
    text-align:center;
}
.ft_tit {
    font-size:16px;
    font-weight:bold;
    line-height:30px;
    text-align:center;
}
.ft_com {
    font-size:12px;
    line-height:12px;
    text-align:center;
}

.ft_col :nth-child(n){
    width:320px;
}
.ft_col li {
    padding-top:10px;
    padding-bottom:10px;
    float:left;
}
.ft_col li span {
    display:block;
    line-height:20px;
    text-align:center;
}

.copyright {
    clear: both;
    text-align: center;
    font-size:12px;
    line-height: 30px;
    padding-top:20px;
}
